{% load static %}
{% load mysite_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
<footer>
          <div class="footer-items">
            <div class="Sect1">
              <div class="logo"></div>
              <div class="logo-info">
                <h4>Juma Antony</h4>
                <p>So, you wanna learn about me? Well… it’s complicated and pretty juicy. I don’t hold much back..<a href="portfolio.html" class="read"> Read More</a></p>
              </div>
              <h4 class="follow">Follow</h4>
              <a href="https://www.facebook.com/profile.php?id=100011079511148">
                  <i class="fa fa-facebook" id="social-media-btns"></i>
              </a>
              <a href="https://twitter.com/jumaantony12">
                  <i class="fa fa-twitter" id="social-media-btns"></i>
              </a>
              <a href="https://www.linkedin.com/in/antony-juma-746641189/">
                  <i class="fa fa-linkedin-square" id="social-media-btns"></i>
              </a>

            </div>

            <div class="Sect2">
              <h4 class="foot-1">Latest Posts</h4>
              {% show_latest_posts 4 %}
                <br>
              <h4 class="foot-1">Categories</h4>
                <p><a href="" class="items"> Django</a></p>
                <p><a href="" class="items"> Python</a></p>
                <p><a href="" class="items"> PYQT5</a></p>
            </div>

            <div class="Sect3">
              <h4 class="foot-1">Recent Projects</h4>
              
              
              <br>
            </div>

            <div class="Sect4">
              <h4 class="foot-1">Pages</h4>
                <div class="foot-pages">
                  <a href="{% url 'MySite:index' %}">
                    Home
                </a>
                <a href="{% url 'MySite:portfolio' %}">
                     Portfolio
                </a>
                <a href="{% url 'MySite:PostList' %}">
                    Blog
                </a>
                <a href="{% url 'MySite:Projects' %}">
                     Projects
                </a>
                <a href="{% url 'MySite:Contact' %}">
                     Contact Me
                </a>
                </div>
              <br><br>
              <p>Subscribe to my latest newsletter, <br>
              To receive latest updates</p> <br>
              <div class="subscribe-body">
                <div class="input-group">
                  <input type="text" name="Subscribe" class="form-control" placeholder="Email address">
                  <button class="btn"> <i class="fa fa-paper-plane fa-1.8x"></i></button>
                </div>
                <buttton class="rss">
                  <a href="{% url 'MySite:post_feed' %}"><i class="fa fa-rss fa-2x"></i></a>
                </buttton>
              </div>
            </div>
          </div>
</footer>