{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post-list.css' %}">


    <span class="pagination">

        {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}" class="step-links"> Previous</a>
        {% endif %}

        <span class="current">
            Page {{page.number}} of {{page.paginator.num_pages}}
        </span>

        {% if page.has_next %}
        <a href="?page={{page.next_page_number}}" class="step-links">Next</a>
        {% endif %}
    </span>
