{% extends 'base.html' %}
{% load static %}
{% block title%} Detailed Post {% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post-detail.css' %}">

<div id="main">

    <body>
        <div class="main-cont">
            <div class="post-cont">
                <h1 class="blog-title">{{ post.title }}</h1>
				<hr>
                <p class="author">By: {{ post.author }}, {{ post.publish }}</p>
				<p class="detailed"> {{ post.body|safe |linebreaks}} </p>

					<br><br><br>
                	<span class="share">
                		<h3>Share</h3>
		              <a href=""><i class="fa fa-facebook fa-2x" id="share-btns"></i></a>
		              <a href=""><i class="fa fa-twitter fa-2x" id="share-btns"></i></a>
		              <a href=""><i class="fa fa-linkedin fa-2x" id="share-btns"></i></a>
		              <a href=""><i class="fa fa-whatsapp fa-2x" id="share-btns"></i></a>

            		</span>

					{% with comments.count as total_comments %}

						<p class="comments-count"> {{ total_comments }}  Thought {{ total_comments|pluralize}}</p>
					
					{% endwith %}

					{% for comment in comments %}

						<div class="comment-info">
							<p class="comment-author">
								Comment {{ forloop.counter }} by {{ comment.name}}
							</p>
							<p class="comment-body"> 
								{{ comment.body }}
								<button type="POST" class="show-reply-form"  onclick="Openreply()">
									Reply
								</button>
							</p>

							{% for reply in comment.replies.all %}
								<div class="reply-info">
									<p class="reply-author">
									{{ reply.name }} / {{ reply.created }}
									</p>
									<p class="reply-body">
									{{ reply.body }}
									</p>
								</div>
							{% endfor %}

							  <div class="reply-cont" id="reply-form">
								<h3 class="leave-comment">Leave a Reply</h3>
			
								<form method="POST">
								  {{ comment_form.as_p }}
								  {% csrf_token %}

								  <input type="hidden" name="parent_id" value="{{ comment.id }}">
								  

								  <button type="submit" class="show-reply-form" id="hide-reply-form" class="comment-btn">Reply</button>

								 </form>
							  </div>
						</div>
					
					{% endfor %}

					<hr>
					
					{% if new_comment %}
						<h3>Your comment has been deliververd and waiting for an approval </h3>
					{% else %}

						<h3 class="leave-comment">Leave a comment</h3>

						<div class="comment-form">
							<form method="post">
	
								{{ comment_form.as_p }}
								{% csrf_token %}
								
								<button type="submit" class="comment-btn">Comment</button>
							</form>
							
						</div>
					{% endif %}
            </div>


            <div class="side-cont">
            	<div class="search-sec">
            		<input type="text" name="search" class="search-area" placeholder="  Search" style=" margin-right: 5px;">
            		<button type="GET"><i class="fa fa-search" id="search-btn"></i> </button>
            	</div>

            	<div>
            		<h2 class="other-info">Post Categorized as:</h2>
	            		<p  id="side-info"><a href="">Python</a></p>
	            		<p id="side-info"><a href="">Pyqt</a></p>
	            		<p id="side-info"><a href="">django</a></p>
            	</div>

            	<div >
            		<h2 class="other-info">Related Posts</a></h2>
	            		<p id="side-info"><a href="">Hangaman Game</a></p>
	            		<p id="side-info"><a href="">Django URls</a></p>
	            		<p id="side-info"><a href="">Django WYSIWYG</a></p>
            	</div>


            </div>

        </div>
	</body>
	
    {% include "footer.html" %}
</div>n 
<script type="text/javascript">
function Openreply() {
var x = document.getElementsByClassName('show-reply-form');
if (x.style.display === "none") {
   x.style.display = "block";
} else {
  x.style.display = "none";
}
}
</script>
{% endblock %}

